# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
lerna-debug.log*

# Dependencies
/node_modules

# Build output directories
/dist
/dist-ssr
/build
/out

# Environment variables and secrets
# Исключает все файлы .env* и *.local, 
# кроме шаблонов (например, .env.example)
.env
.env.*
!**/.env.example
!**/.env.defaults
*.local
*.local.*

# Editor directories and files
.vscode/*
!.vscode/extensions.json  # Разрешаем отслеживание списка рекомендуемых расширений
.idea
.DS_Store
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?